{% load static %}
<html>
<head>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/bootstrap.css' %}"
/>
</head>
<body>
	<div class="container">
		<p>From {{ link }}</p>
		<div class="container-fluid">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Job Title</th>
						<th scope="col">Description</th>
					</tr>
				</thead>
				<tbody>
					{% for item in items %}
					<tr>
						<th scope="row">{{ forloop.counter }}</th>
						<td>{{ item.title | safe }}</td>
						<td>{{ item.description |safe }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</body>